/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter  
    background red
    
    transition 5s
    .order-enter-active
      background yellow
      
  .order-exit 
    background thistle
    transition 0.5s
    &.order-exit-active
      background blue